<EditForm Model="UpdateUserUsernameRequestDto" OnValidSubmit="HandleUpdateUserUsernameAsync" style="width: 35rem;">
    <hr style="background-color: black;" class="mt-0"/>

    <div>
        <p class="lead">
            <small>Please enter username.</small>
        </p>

        @if (ShowErrors)
        {
            <ul class="list-group my-4">
                @foreach (string error in Errors)
                {
                    <li class="list-group-item list-group-item-danger">@error</li>
                }
            </ul>
        }

        <div class="form-floating mb-3">
            <InputText class="form-control" placeholder="Username" @bind-Value="UpdateUserUsernameRequestDto.NewUsername"/>
            <label>Username</label>
        </div>

        <div class="form-floating mb-3">
            <InputText class="form-control" placeholder="Confirm Username" @bind-Value="UpdateUserUsernameRequestDto.ConfirmUsername"/>
            <label>Confirm Username</label>
        </div>
    </div>

    <hr style="background-color: black;"/>

    <div class="mx-auto text-center">
        <button type="submit" class="btn btn-primary w-50 my-2">
            <i class="bi bi-check-circle"></i>
            Confirm
        </button>

        <button type="button" class="btn btn-danger w-50" @onclick="ModalInstance.CancelAsync">
            <i class="bi bi-x-circle"></i>
            Cancel
        </button>
    </div>
</EditForm>