@layout MainLayout

<div class="col-2 px-0 bg-light">
    <div class="d-flex flex-column pt-2 min-vh-100 shadow-lg sticky-top">
        <div class="mt-3 text-center text-decoration-none">
            <img src="../images/poseidon.png" alt="Poseidon logo" class="mb-2"/>
            <h1 class="display-6 fs-4 text-dark">Poseidon</h1>
        </div>

        <p class="lead text-center font-monospace">
            <span class="badge rounded-pill bg-dark">
                <AuthorizeView>
                    @context.User.Identity!.Name
                </AuthorizeView>
            </span>
        </p>

        <div class="list-group mb-sm-auto text-start">
            <button class="btn btn-outline-dark p-3 border d-flex align-items-center" style="text-align: left" @onclick='() => NavigateTo("/")'>
                <RadzenIcon Icon="dashboard" class="mx-2"/>
                <span class="fs-5">
                    Dashboard
                </span>
            </button>

            <button class="btn btn-outline-dark p-3 border d-flex align-items-center" style="text-align: left" @onclick='() => NavigateTo("/map")'>
                <RadzenIcon Icon="explore" class="mx-2"/>
                <span class="fs-5">
                    Map
                </span>
            </button>

            <button class="btn btn-outline-dark p-3 border d-flex align-items-center" style="text-align: left" @onclick='() => NavigateTo("/events")'>
                <RadzenIcon Icon="nearby_error" class="mx-2"/>
                <span class="fs-5">
                    Events
                </span>
            </button>

            <button class="btn btn-outline-dark p-3 border d-flex align-items-center" style="text-align: left" @onclick='() => NavigateTo("/vessels")'>
                <RadzenIcon Icon="directions_boat" class="mx-2"/>
                <span class="fs-5">
                    Vessels
                </span>
            </button>

            <button class="btn btn-outline-dark p-3 border d-flex align-items-center" style="text-align: left" @onclick='() => NavigateTo("/hangfire")'>
                <RadzenIcon Icon="history" class="mx-2"/>
                <span class="fs-5">
                    Hangfire
                </span>
            </button>

            <button class="btn btn-outline-dark p-3 border d-flex align-items-center" style="text-align: left" @onclick='() => NavigateTo("/account")'>
                <RadzenIcon Icon="account_circle" class="mx-2"/>
                <span class="fs-5">
                    Account
                </span>
            </button>
        </div>

        <button class="btn btn-outline-danger p-3 border" @onclick="HandleLogoutAsync">
            <div class="d-flex justify-content-center">
                <RadzenIcon Icon="logout" class="mx-2"/>
                Logout
            </div>
        </button>
    </div>
</div>